<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Информация:</h3>
    <ul class="nav nav-list">
      <li><%= "Страна: #{@store.country}"  %></li>
      <li><%= "Город: #{@store.city}"  %></li>
      <li><%= "Адрес: #{@store.address}"  %></li>
      <li><%= "Телефон: #{@store.phone_number}"  %></li>
      <li><%= "Часы работы: "  %></li>
    </ul>
  </div>
</div>
